body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.container {
    max-width: 320px;
    padding: 0 15px;
    margin: 0 auto;

}

/****************** HEADER**/
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu-header {
    display: none;

}

.header-elements {
    display: flex;
    align-items: center;
}

.adrs-menu {
    display: none;

}

.navigation {
    display: flex;
    align-items: center;
}

.webi {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    padding: 17px 0;

}

.studio {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.open-menu-btn {
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-left: auto;
}

/* *********************MOB-MENU*************************** */
.mobile-menu {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}



.mobile-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-mobile-menu {
    display: flex;
    margin-bottom: 168px;
}

.nav-mobile-list {
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.adrs-mob-menu-list:last-child {
    margin-bottom: 0;
}

.mob-menu-nav-item {
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.adrs-mob-menu {
    margin-bottom: 48px;
}

.adrs-mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.adrs-mob-menu-item {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.blue {
    color: #404BBF;
}


.mobile-menu-list-icons {
    display: flex;

    gap: 40px;
}

.mobile-icons-list {
    width: 40px;
    height: 40px;
}

.mobile-link-menu {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    background-color: #4D5AE5;
    align-items: center;
    justify-content: center;
}

.footer-svg {
    fill: #f4f4fd
}




/* **********************HERO********************** */
.sctn-main {
    background: #2E2F42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-mobile.jpg);
    background-repeat: no-repeat;
    width: 320px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;

}

@media (min-resolution: 192dpi) {
    .sctn-main {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-mob-2x.jpg);
    }
}

.section-one {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    max-width: 216px;
    margin: 0 auto;
}

.btn {
    background-color: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 72px auto 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}


/* **********************ABILITY***************************** */
.sctn-abil {
    padding: 96px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.menu-features {
    display: flex;
    gap: 72px;
    margin-right: 0;
    flex-wrap: wrap;
}

.box-features {
    display: none;
}

.features-item {
    width: 288px;
}

.features-item:last-child {
    margin-right: 0;
}

.features-titles {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

.p-content {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}




/* -----------------TEAM-------------------------- */

.section-team {
    background: #F4F4FD;
    padding: 96px 0;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}

.list-item {
    background-color: #FFFFFF;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-container {
    padding: 32px 0;
}

.team-names {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
}

.team-p {
    color: #434455;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-icons-list {
    width: 40px;
    height: 40px;
}

.team-icon {
    fill: #f4f4fd;
}

.list-item:last-child {
    margin-right: 0;
}

.team-icons-list:last-child {
    margin-right: 0;
}

.icon-link-team {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    background-color: #4D5AE5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-team:hover,
.icon-link-team:focus {
    background-color: #404BBF;
}

/* ****************PORTFOLIO************************ */

.section-portfolio {
    padding: 96px 0;
}

.portfolio-title {
    margin-bottom: 72px;
    text-align: center;
    color: #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.port-li {
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.port-li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.overlay {
    display: none;
}

.port-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-header {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.p-portfolio {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.port-li:nth-child(-n+3) {
    margin-bottom: 0;
}

.port-li:nth-child(3n) {
    margin-right: 0;
}

/* *****##############***FOOTER***###############***** */

.footer-back-color {
    background: #2E2F42;
    padding: 96px 0;
}


.web {
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    text-align: center;
    display: block;
}

.studio-footer {
    color: #F4F4FD;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}


.footer-p {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    max-width: 264px;
}


.footer-logo-container {

    margin-bottom: 72px;
}

.footer-icons-p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    color: #FFF;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.footer-list-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.footer-icons-list {
    width: 40px;
    height: 40px;
}

.footer-svg {
    fill: #f4f4fd
}

.icon-link-footer {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    background-color: #4D5AE5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover,
.icon-link-footer:focus {
    background-color: #31D0AA;
}

.footer-socials {
    margin-bottom: 72px;
}


.footer-subscribe-p {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.footer-form {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.input-subscribe {
    width: 288px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    background-color: transparent;
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    opacity: 0.3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    margin-bottom: 16px;
}


.input-subscribe::placeholder {
    color: #FFF;

}

.btn-subscribe {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: #4D5AE5;
    width: 165px;
    height: 40px;
    border: none;
}

.footer-subscribe {
    margin-left: 16px;
}

/* *****************MODAL***************  */
.backdrop {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {

    width: 288px;
    min-height: 623px;
    position: absolute;
    background-color: #FCFCFC;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* padding: 72px 24px 24px 24px; */
    padding: 72px 16px 24px 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover>.modal-close-icon,
.modal-close-btn:focus>.modal-close-icon {
    fill: #FFFFFF;
}

.modal-p {
    margin-bottom: 16px;
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.modal-area {
    margin-bottom: 8px;
}

.form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4D5AE5;
}

.form-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-label {
    display: block;
    color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.modal-input-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.textarea {
    margin-bottom: 16px;
}

.text-input {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.40);
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-input:focus {
    border-color: #4D5AE5;
}

/* ***********CHECKBOX**IN***MODAL************** */

.modal-area-checkbox {
    margin-bottom: 24px;
}

.policy-label {
    color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    align-items: center;
    display: flex;

}

.modal-span {
    fill: transparent;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.policy-label a {

    color: #4D5AE5;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}



.checkbox:checked+.policy-label span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}


.modal-btn {
    display: block;
    color: #ffffff;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    background: #4D5AE5;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 24px auto;
}