body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/****************** HEADER**/
.webi {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px
}

.studio {
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: #404BBF;
}

.current::after {
    position: absolute;
    content: "";
    background: #404BBF;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
}



.nav:hover,
.nav:focus {
    color: #404BBF
}

.adrs-section {
    font-style: normal;
    margin-left: auto;
}

.adrs {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adrs:hover,
.adrs:focus {
    color: #404BBF
}

/* **********MAIN*********** */
.sctn-main {
    background: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    max-width: 1440px;
    background-position: center;
    background-size: cover;
}

.section-one {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;

}

.btn {
    background-color: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 48px auto 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}

.sctn-abil {
    padding: 120px 0;
}

.features-titles {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.p-content {
    color: #434455;
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.section-team {
    background: #F4F4FD;
    padding: 120px 0;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.list-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.list-item:last-child {
    margin-right: 0;
}

.team-container {
    padding: 32px 0;
}

.team-names {
    color: #2E2F42;
    text-align: center;
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
}

.team-p {
    color: #434455;
    text-align: center;

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.team-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-icons-list {

    width: 40px;
    height: 40px;

}

.team-icon {
    fill: #f4f4fd;
}


.team-icons-list:last-child {
    margin-right: 0;
}

.icon-link-team {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    background-color: #4D5AE5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-team:hover,
.icon-link-team:focus {
    background-color: #404BBF;
}



.section-portfolio {
    padding: 120px 0 120px 0;
}

.portfolio-title {
    margin-bottom: 72px;
    text-align: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.port-li {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}



.port-overlay-container {
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    color: #F4F4FD;
    background: #4D5AE5;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-li:hover .overlay {
    transform: translateY(0);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.port-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.port-li:nth-child(-n+3) {
    margin-bottom: 0;
}

.port-li:nth-child(3n) {
    margin-right: 0;
}



.portfolio-header {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.p-portfolio {
    color: #434455;
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

/* ********FOOTER******** */
.footer-back-color {
    background: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.web {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-p {
    color: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.studio-footer {
    color: #F4F4FD;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.footer-logo-container {
    margin-right: 120px;
}

.footer-socials .footer-icons-p {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    color: var(--WHITE, #FFF);
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-list-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.footer-icons-list {
    width: 40px;
    height: 40px;
}

.footer-svg {
    fill: #f4f4fd
}

.icon-link-footer {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    background-color: #4D5AE5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover,
.icon-link-footer:focus {
    background-color: #31D0AA;
}

.subscribe-field {
    margin-left: 80px;
}


.footer-subscribe-p {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}



.input-subscribe {
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    background-color: transparent;
    outline: none;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
}


.input-subscribe::placeholder {
    color: #FFF;

}

.btn-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: #4D5AE5;
    min-width: 165px;
    height: 40px;
    border: none;
}

.footer-subscribe {
    margin-left: 16px;
}



/* ***************HW   3*************************** */
.section {
    padding: 120px 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-elements {
    display: flex;
    align-items: center;
}

.container {
    padding: 0 15px;
    width: 1158px;
    margin: 0 auto;

}

.hero {
    width: 1440px;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu-header {
    display: flex;
    gap: 40px;
}

.nav {
    padding: 24px 0;
    display: block;
}

.nav:last-child {
    margin-right: 0;
}

.adrs-menu {
    display: flex;
    gap: 40px
}

.adrs:last-child {
    margin-right: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.menu-features {
    display: flex;
    gap: 24px;
    margin-right: 0;
}

.box-features {
    display: flex;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    margin-bottom: 8px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-item:last-child {
    margin-right: 0;
}

/* *****************MODAL***************  */


.backdrop {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 408px;
    min-height: 584px;
    position: absolute;
    background-color: #FCFCFC;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover>.modal-close-icon,
.modal-close-btn:focus>.modal-close-icon {
    fill: #FFFFFF;
}

.modal-p {

    margin-bottom: 16px;
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4D5AE5;
}

.form-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-label {
    display: block;
    color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.modal-input-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.textarea {
    margin-bottom: 16px;
}

.text-input {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.40);
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-input:focus {
    border-color: #4D5AE5;
}

/* ***********CHECKBOX******************* */

.modal-area-checkbox {
    margin-bottom: 24px;
}

.policy-label {
    color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    align-items: center;

}

.modal-span {
    fill: transparent;
    margin-right: 12px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.policy-label a {

    color: #4D5AE5;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}


.modal-area {
    margin-bottom: 8px;
}


.checkbox:checked+.policy-label span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}


.modal-btn {
    display: block;
    color: #ffffff;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    background: #4D5AE5;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 24px 95px;

}